build/
software/**/build/
software/**/obj/
software/**/bin/
*.elf
*.map
*.o
*.a
*.bin
*.sof
*.pof
*.qws
*.rpt
*.summary
db/
incremental_db/
simulation/modelsim/
output_files/
*.wad
*.WAD
.vscode/
.idea/
*.swp
